# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# others
*.bak
*.old
*.rar
*.png
*.csv
*.Rhistory
/bak
/doc/latex
/doc/images
/test
/sample
/samples
rdrr_test1.go
__debug_bin
/prep/mains
*-CONFLICT-*